@use "../util" as *;
@keyframes scale-left {
 0% {
  width: rem(300);
  height: rem(507);
 }
 100% {
  width: rem(960);
  height: rem(485);
 }
}

@keyframes come-from-the-right {
 0% {
  right: -1000px;
 }
 100% {
  right: 6%;
 }
}
