@use "../util" as *;
@keyframes scale-left {
 0% {
  width: rem(300);
 }
 100% {
  width: rem(960);
 }
}

@keyframes come-from-the-left {
 0% {
  left: -1000px;
 }
 100% {
  left: 6%;
 }
}
@keyframes come-from-the-right {
 0% {
  right: -1000px;
 }
 100% {
  right: 6%;
 }
}
@keyframes scale-left-logo {
 0% {
  width: rem(0);
  font-size: rem(0);
 }
 100% {
  font-size: rem(15);
  width: rem(400);
 }
}
