html {
 font-size: 100%;
 box-sizing: border-box;
 height: 100%;
 &:focus-within {
  scroll-behavior: smooth;
 }
}
*,
*::after,
*::before {
 box-sizing: inherit;
 font: inherit;
}
body {
 margin: 0;
 height: 100%;
 padding: 0;
 text-rendering: optimizeSpeed;
 font-family: var(--ff-body);
 background-color: var(--bg-h-btn);
 overflow-x: hidden;
}
.center {
 display: grid;
 align-items: center;
 height: 100%;
 position: relative;
}
h1,
h2,
h3 {
 margin: 0;
 font-family: var(--ff-h1);
 font-size: var(--h1-fs);
 color: var(--bg-h-btn);
}

p {
 color: var(--p-clr);
 font-size: var(--p-fs);
 margin: 0;
}
a,
a:visited,
a:active {
 color: hsl(0, 0%, 96%);
 text-decoration: none;
}
ul,
li {
 list-style: none;
 padding-left: 0;
 margin: 0;
}
img {
 display: block;
 object-fit: cover;
 max-width: 100%;
}
.flex {
 display: flex;
 align-items: center;
}
@media (prefers-reduced-motion: reduce) {
 html:focus-within {
  scroll-behavior: auto;
 }
}
