@use "../util" as *;
@include breakpoint-up("medium900") {
 main {
  max-width: rem(1200);
  margin-top: rem(32);
  padding: rem(24);
  margin-inline: auto;
  grid-template-columns: repeat(3, 1fr);
 }
 section {
  padding: rem(48);
  padding-right: rem(63);
  .title {
   margin-bottom: rem(26);
   line-height: 47px;
  }
  .desc {
   margin-bottom: rem(86);
   max-width: 21.5ch;
  }
  .btn button {
   width: rem(147);
  }
  &.section-1 {
   background-color: var(--section-1);
   border-radius: 9px 0 0 9px;
   .btn button {
    color: var(--section-1);
   }
  }
  &.section-2 {
   background-color: var(--section-2);
   .desc {
    letter-spacing: 0.0035em;
   }
   .btn button {
    color: var(--section-2);
   }
  }
  &.section-3 {
   background-color: var(--section-3);
   border-radius: 0 9px 9px 0;
   .btn button {
    color: var(--section-3);
   }
  }
 }
}
@include breakpoint-up("large") {
 main {
  position: relative;
 }
 main .js {
  animation: scale-left 1s linear alternate forwards;
  border-radius: 0 9px 9px;
  .desc {
   max-width: 32ch;
   margin-bottom: rem(109);
  }
  .example {
   display: block;
   position: absolute;
   top: 0%;
   right: 6%;
   animation: come-from-the-right 1s linear alternate;
  }
 }
 #section-2 .example {
  top: 5%;
  right: 6%;
  filter: hue-rotate(209deg);
 }
 main section.none {
  display: none;
 }
 main.width {
  grid-template-columns: rem(960);
 }
}
